<!DOCTYPE html>
<html>
  <head>
    <title>Jay will win</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add player points after every match using this form. Select all players and add in one go. Make sure to not make additions twice for the same player.</h1>
  </body>
</html>